.navigation {
    position: absolute;
    background-color: var(--secondary-color);
    padding-bottom: 35px;
    width: 100%;
}

.navigation__container {
    max-width: 1140px;
    margin: 0 auto;
    width: calc(1140/1280*100%);
    background-color: var(--secondary-color);
    padding: 27.5px 0 27.5px 0;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid var(--main-font-color);
}

.navigation__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Inter';
    color: var(--main-font-color);
    transition: opacity .3s linear;
    margin: 0 15px;
}

@media screen and (max-width: 1024px) {
    .navigation__container {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .navigation__container {
        justify-content: center;
    }
}

@media screen and (max-width: 406px) {
    .navigation__link {
        font-size: 15px;
        margin: 0 5px;
    }
}

@media screen and (max-width: 320px) {
    .navigation__container {
        align-items: center;
    }

    .navigation__link {
        font-size: 13px;
        margin: 0 5px;
        text-align: center;
    }
}

@media (hover: hover) {
    .navigation__link:hover {
        opacity: .7;
        cursor: pointer;
    }
}