.contacts__main {
    width: 100%;
    padding-bottom: 105px;
    background-color: var(--dark-color);
  }
  
.contacts__title {
  margin: 0 0 50px 0;
  padding-bottom: 24px;
  border-bottom: 1px solid #DADADA;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  color: var(--main-font-color);
}

.contacts__nav {
  display: grid;
  width: 100%;
  justify-content: space-between;
  grid-template-columns: minmax(0, 650px) 270px;
}

.contacts__icon {
  max-width: 35px;
  max-height: 35px;
  align-content: center;
}

.contacts__ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__link {
  text-decoration: none;
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #424242;
  display: flex;
  justify-content: space-between;
  color: var(--main-font-color)
}

.contacts__link_type_last {
  margin-bottom: 0;
}

.contacts__subtitle {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  transition: opacity .3s linear;
}

.contacts__btn {
  width: 29px;
  height: 60px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../../images/urlButton.svg);
  background-repeat: no-repeat;
  background-position: 4px 18px;
  background-size: 20px 18px;
  transition: opacity .3s linear;
}

.contacts__image {
  display: block;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit:contain
}

/* Адаптив под экраны */

@media screen and (max-width: 1023px) {
  .contacts__main {
    padding-bottom: 69px;
  }
}

@media screen and (max-width: 320px) {
  .contacts__nav {
    display: flex;
    flex-direction: column;
  }
  .contacts__image {
    display: none;
  }
}

@media screen and (max-width: 448px) {
  .contacts__nav {
    display: flex;
    flex-direction: column;
  }
  .contacts__image {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contacts__main {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__title {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__link {
    padding-bottom: 19px;
  }
}

@media screen and (max-width:1023px) {
  .contacts__subtitle {
    font-size: 28px;
    letter-spacing: -1.12px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__subtitle {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
}

@media screen and (max-width: 1023px) {
  .contacts__btn {
    width: 27px;
    background-position: 4px 18px;
    background-size: 20px 16px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__btn {
    width: 18px;
    height: 28px;
    background-position: 8px 7px;
    background-size: 10px 10px;
  }
}

@media (hover: hover) {
  .contacts__subtitle:hover {
    opacity: .7;
    cursor: pointer;
  }

  .contacts__btn:hover {
    opacity: .7;
    cursor: pointer;
  }
}